#homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 25vw;
  margin-top: 5vw;
  /* border: 1px solid red; */
  width: 50%;
  height: 80vh;
  overflow: hidden;
}

#homeContainer h1 {
  font-size: 8vw;
  animation-name: hello, blink;
  animation-duration: 1s, 1s;
  animation-iteration-count: 1, 1;
}

#homeContainer h2 {
  font-size: 4vw;
  animation-delay: 1s;
  animation-name: hello, blink;
  animation-duration: 1s, 1s;
  animation-iteration-count: 1, 1;
}

#homeContainer h3 {
  font-size: 1.5vw;
  text-align: center;
  animation-delay: 2s;
  animation-name: hello, blink;
  animation-duration: 1s, 1s;
  animation-iteration-count: 1, 1;
}

#homeContainer div {
  width: 50%;
  height: 10%;
  animation-delay: 3s;
  animation-name: hello, blink;
  animation-duration: 1s, 1s;
  animation-iteration-count: 1, 1;
}

#getStartedBtn {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  font-size: 2vw;
}

@keyframes hello {
  0% {
    visibility: hidden;
    transform: translateY(75%);
  }
  100% {
    visibility: visible;
    transform: translateY(0%);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
